
body {
    margin: 0;
    background: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
}

input, .item {
    font-size: 24px;
    line-height: 60px;
    min-width: 400px;
}

input {
    position: fixed;
    right: 0;
    bottom: 0;
    border: none;
    outline: none;
}

.item {
    padding: 0 40px;
    cursor: pointer;
    display: flex;
    font-size: 18px;
}

.item.at {
    line-height: 90px;
    background: white;
    font-size: 24px;
}

.item:hover {
    background: white;
    
}

#root {
    padding: 100px 0 400px;
}

.name {
    flex: 2;
}

.text {
    display: inline-block;
    min-width: 600px;
    flex: 3;
}