
.app-line {
    height: 300px;
    display: flex;
    padding: 0 40px;
}

.app-line > .sizes {
    flex: 2;
}
.app-line .name {
    flex: 1;
    font-size: 42px;
    line-height: 1.4em;
}

.app-line input {
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    width: 100%;
    -webkit-appearance: none;
}
