
body {
    margin: 0;
    background: hsl(0, 0%, 98%);
}

body * {
    box-sizing: border-box;
}


#font-box {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

#font-list {}

#space-before {
    width: 100%;
    background-color: rgb(128, 128, 255);
}

#space-after {
    width: 100%;
    background-color: red;
}

.font-line {
    line-height: 80px;
    display: flex;
    padding: 0 40px;
    font-size: 40px;
}

.font-input {
    flex: 1;
    outline: none;
    font-size: inherit;
    line-height: inherit;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
}

.font-name {
    flex: 1;
}